
#home {
  padding-top: 0px;
}

.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90vh;
  background-color: #f0f0f0;
  margin: 0; /* Remove top margin to eliminate gap */
}


.home-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;/* Center text horizontally */
  margin-left: 0px;
  padding-left: 100px;
}

.home-left h1 {
  font-size: 6em; /* Increase font size */
  font-weight: bold;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 20px;
}

.home-left .highlight {
  color: #007BFF; /* Highlight color */
}

.centered-button {
  display: flex;
  justify-content: flex-start;
  width: 70%;
  margin-bottom: 20px;
}

.contact-button {
  margin-top: 20px;
  padding: 10px; /* Adjust padding to make the button fit the text */
  background-color: #007BFF;
  color: white;
  text-decoration: none;
  cursor: pointer;
  font-size: 1.2em; /* Adjust font size */
  border-radius: 5px;
  width: 30%; /* Ensure the button width fits the text */
}


.home-left .social-links {
  margin-top: 80px;
  display: flex;
  justify-content: flex-start;
  width: 70%;
}

.home-left .social-links a {
  margin-right: 35px;
  color: black;
  font-size: 1.5em;
}

.home-left .social-links a:hover {
  color: #007BFF; /* Highlight color */
}

.home-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-right .image-container {
  width: 400px; /* Increase width */
  height: 400px; /* Increase height */
  background-color: #007BFF;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-right .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Media query for smaller screens */
@media (min-width: 769px) {
  .home {
    flex-direction: row; /* Align sections horizontally on larger screens */
  }
}

@media (max-width: 768px) {
  .home-left {
    font-size: 2rem; /* Adjust tagline size for smaller screens */
  }

  .image-container {
    width: 200px; /* Adjust image size for smaller screens */
    height: 200px;
  }
}